.product-img {
  height: 250px;
  object-fit: contain;
}

.product-detail-image {
  height: 400px;
  width: 400px;
  object-fit: contain;
}

a {
 text-decoration: none; 
}

.product-card-container {
  position: relative;
}

.product-card-delete {
  position: absolute;
  top: 0;
  right: 14px;
}